@model QuanLyPhanMem__63135414.Models.User

@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("CreateUser", "Admin63135414", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row flex-wrap justify-content-center align-items-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="py-2">
                        <h4 class="text-primary text-uppercase">Tạo người dùng mới</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-5 rounded-3" style="background-color: #E0E9DB">
                                <div class="row mt-3">
                                    <!-- Nội dung phía trên ảnh -->
                                    <div class="position-relative">
                                        <img src="~/assets/wallpaper/defaultwallpaper.png" alt="Background Image" class="img-fluid rounded-5" id="userWallpaper-preview" style="height: 100%; width:100%;" />

                                        <!-- Ảnh dạng tròn đè lên ảnh -->
                                        <div class="position-absolute top-150 start-50 translate-middle">
                                            <img src="~/assets/avatar/avatardefault.png" alt="Circular Image" class="rounded-5" id="userAvatar-preview" style="height:150px; border: 5px solid #fff;" />
                                        </div>

                                    </div>
                                </div>
                                <br />
                                <div class="row mt-5">
                                    <div class="col-md-6 mt-3">
                                        <div class="form-floating">
                                            <div class="input-group">
                                                <input class="form-control" id="userAvatar" type="file" name="userAvatar" accept="image/*" onchange="previewImage(this)" />
                                                <label class="input-group-text" for="userAvatar">Avatar</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <div class="form-floating">
                                            <div class="input-group">
                                                <input class="form-control" id="userWallpaper" type="file" name="userWallpaper" accept="image/*" onchange="previewImage(this)" />
                                                <label class="input-group-text" for="userWallpaper">Wallpaper</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-floating mt-3 mb-3">
                                    <input type="text" value="@ViewBag.USERID" disabled readonly class="form-control" />
                                    @Html.ValidationMessageFor(model => model.userId, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.userId, "ID Người dùng", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="form-floating mt-3 mb-3">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.email, "Địa chỉ Email", htmlAttributes: new { @class = "control-label" })
                                </div>

                                <div class="form-floating mt-3 mb-3">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.password, "Mật khẩu", htmlAttributes: new { @class = "control-label" })
                                </div>

                                <div class="form-floating mt-3 mb-3">
                                    @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.confirmPassword, "Xác nhận mật khẩu", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="form-floating mt-3 mb-3">
                                    @Html.DropDownList("roleId", ViewBag.Roles as SelectList, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserRole.roleId, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.UserRole.roleId, "Vai trò", htmlAttributes: new { @class = "control-label" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-floating mt-3 mb-3">
                                    @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.firstname, "Họ người dùng", htmlAttributes: new { @class = "control-label" })
                                </div>

                                <div class="form-floating mt-3 mb-3">
                                    @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.lastname, "Tên người dùng", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="form-floating mt-3 mb-3">
                                    @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.birthday, "Ngày sinh", htmlAttributes: new { @class = "control-label" })
                                </div>

                                <div class="form-floating mt-3 mb-3">
                                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.address, "Địa chỉ", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="form-floating mt-3 mb-3">
                                    @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.phoneNumber, "Số điện thoại", htmlAttributes: new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mt-3 mb-3">
                                    @Html.TextAreaFor(model => model.bio, new { @class = "form-control", rows = 4 }) <!-- Điều chỉnh số hàng (rows) theo nhu cầu của bạn -->
                                    @Html.ValidationMessageFor(model => model.bio, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.bio, "Mô tả", htmlAttributes: new { @class = "control-label" })
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <input type="submit" value="Thêm mới" class="btn btn-facebook btn-rounded col-md-5 mx-auto" />
                        <a href="@Url.Action("ListUser")" class="btn btn-success btn-rounded col-md-5 mx-auto">
                            Quay lại danh sách
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
