@model IEnumerable<QuanLyPhanMem__63135414.Models.User>

@{
    ViewBag.Title = "ListUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var grid = new WebGrid(canPage: true, rowsPerPage: ViewBag.PageSize);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);

    var user = (QuanLyPhanMem__63135414.Models.Extension.UserViewModel)Session["User"];

    <script>
        function confirmDelete(userId) {
            // Xác nhận xóa người dùng bằng cách gửi form
            document.getElementById('deleteUserForm_' + userId).submit();
        }
    </script>
}

<div class="card">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">
            DANH SÁCH QUẢN LÝ NGƯỜI DÙNG
        </h4>
        <br />
        @if (user.UserRole.roleName.ToString().Contains("Quản trị viên"))
        {
            <a href="@Url.Action("CreateUser")" class="btn btn-success d-block mx-auto" style="width: 50%">
                Đăng ký người dùng mới
            </a>
        }
        else
        {
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-success d-block mx-auto" style="width: 50%">
                Đăng ký người dùng mới
            </a>
        }
    </div>
    <div class="py-2">
        @using (Html.BeginForm("ListUser", "Admin63135414", FormMethod.Get))
        {

            <div class="d-flex flex-wrap justify-content-center align-items-center">

                <div class="form-floating mt-3 mb-3">
                    <input type="text" style="width: 200px;" name="search" value="@ViewBag.search" class="form-control" />
                    <label>Nhập dữ liệu</label>
                </div>
                <div class="form-floating m-2">
                    <input type="text" style="width: 200px;" name="name" value="@ViewBag.name" class="form-control" />
                    <label>Tìm họ và tên</label>
                </div>

                <div class="form-floating m-2">
                    <input type="text" style="width: 200px;" name="adress" value="@ViewBag.adress" class="form-control" />
                    <label>Tìm địa chỉ</label>
                </div>
                <!-- DropDownList cho UserRole.roleName -->
                <div class="form-floating m-2">
                    @Html.DropDownList("roleName", ViewBag.Roles as SelectList, "Tất cả", new { @class = "form-control", style = "width: 200px;" })
                    <label>Tìm vai trò</label>
                </div>

                <script>
                    function changePageSize() {
                        document.getElementById('listUserForm').submit();
                    }
                </script>
                <button type="submit" value="Search" class="btn btn-primary m-2">Tìm kiếm</button>

            </div>
        }
    </div>
    <div class="card-body text-center">
        <div class="table-responsive">
            @grid.Table(
                 tableStyle: "table table-bordered table-hover",
                 headerStyle: "grid-header text-center",
                 footerStyle: "pagination pagination-small",
                 columns: new[] {
                       grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex, canSort: false),
                      grid.Column(format:@<text> <a href="@Url.Action("DetailsUser", new {id = item.userId})"><img class="rounded-circle" src="~/assets/avatar/@item.userAvatar" title="@item.firstname @item.lastname" width="30px" /></a> </text>, header: "Avatar"),
grid.Column(columnName: "email", header: "Email"),
grid.Column(columnName: "firstname", header: "Họ"),
grid.Column(columnName: "lastname", header: "Tên"),
grid.Column(columnName: "address", header: "Địa chỉ"),
grid.Column(format: @<text>
                        @if (item.roleId == "R01")
{
                        <div class="badge badge-danger">
                            @item.UserRole.roleName
                        </div>
}
                        @if(item.roleId == "R02")
{
                        <div class="badge badge-primary">
                            @item.UserRole.roleName
                        </div>
}
                        @if (item.roleId == "R03")
{
                        <div class="badge badge-success">
                            @item.UserRole.roleName
                        </div>
}
</text>, header: "Vai trò", canSort:true),
grid.Column(format:
@<text>
    <div class="text-center">
        <a href="@Url.Action("Edit", new {id = item.userId})" class="btn btn-sm btn-warning" title="Cập nhật dữ liệu">
            <i class="fas fa-user-edit"></i>
        </a>
        <a href="@Url.Action("DetailsUser", new {id = item.userId})" class="btn btn-sm btn-primary" title="Chi tiết người dùng">
            <i class="fa fa-id-card"></i>
        </a>
        @if (user.UserRole.roleName.Contains("Quản trị viên"))
    {
        <a href="#" data-toggle="modal" data-target="#deleteUserModal_@item.userId" class="btn btn-sm btn-danger" title="Xóa người dùng">
            <i class="fa fa-trash"></i>
        </a>
    }
else
    {
        <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-danger" title="Xóa người dùng">
            <i class="fa fa-trash"></i>
        </a>
    }

        <!-- Modal -->
        <div class="modal fade" id="deleteUserModal_@item.userId" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel_@item.userId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserModalLabel_@item.userId">Xóa Người Dùng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-opacity-25">
                        <!-- Hiển thị thông tin người dùng -->
                        <img src="~/assets/avatar/@item.userAvatar" alt="Circular Image" class="rounded-circle" style="width:150px; height:150px; border: 5px solid #fff;" />
                        <div class="py-2">
                            <p class="badge badge-success">@item.UserRole.roleName</p>
                        </div>
                        <p class="text-pinterest"> @item.firstname @item.lastname </p>
                        <p>Email: @item.email</p>
                        <p>User Id: @item.userId</p>
                        <!-- Thêm các trường thông tin khác tùy theo yêu cầu -->
                        <!-- Thêm form xác nhận xóa -->
                        <form id="deleteUserForm_@item.userId" method="post" action="@Url.Action("Delete", "Admin63135414", new { id = item.userId })">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="userId" value="@item.userId" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        @if(item.roleId != "R01" || item.userId == user.userId)
                        {
                        <!-- Nút xác nhận xóa -->
                        <button type="button" class="btn btn-danger" onclick="confirmDelete('@item.userId')">Xóa Người Dùng</button>
                        }
                        <!-- Nút hủy -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</text>, header: "Chức năng")
})
        </div>
    </div>
    @using (Html.BeginForm("ListUser", "Admin63135414", FormMethod.Get, new { id = "listUserForm" }))
    {
        <!-- Thêm dropdown list cho việc chọn pageSize -->
        <div class="form-floating col-1 mx-2">
            @Html.DropDownList("pageSize", (SelectList)ViewBag.PageSizeList, new { @class = "form-control", onchange = "changePageSize()" })
            <label class="mx-2">Item/page</label>
        </div>
    }
    <br />
    <div class="card-footer">
        <div class="row">
            <div class="pagination d-flex justify-content-center mx-auto">
                @grid.PagerList(mode: WebGridPagerModes.Numeric)
            </div>
        </div>

        @Html.Hidden("dir", grid.SortDirection)
        @Html.Hidden("col", grid.SortColumn)
    </div>
</div>

<!-- The Modal -->
<div class="modal fade fadeInUp" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-success">
                <div class="d-flex">

                    <h5 class="modal-title" id="exampleModalLabel"> <i class="fa-solid fa-bell fa-shake text-warning"></i> THÔNG BÁO</h5>
                </div>

                <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h4>Chức năng chỉ dành cho QUẢN TRỊ VIÊN!</h4>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-dribbble" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>

