@model ShopPhanMem_63135414.Models.User
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong>@ViewBag.Message
        </div>
    }
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-5 shadow">
                        <section class="set-bg d-flex justify-content-center align-items-center" style="height:150px;" data-setbg="../../assets/admin/images/test/la.jpg">
                            @*<h4 class="text-light font-weight-bolder text-uppercase">Đổi mật khẩu</h4>*@
                        </section>

                        <div class="card-body">
                            <!--Mật khẩu trong database-->
                            <div class="form-floating mt-3 mb-3" style="display:none">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                @Html.LabelFor(model => model.password, "Mật khẩu", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <!--Nhập mật khẩu cũ-->
                            <div class="form-floating mt-3 mb-3">

                                <input type="password" name="oldPassword" class="form-control" />
                                <label>Mật khẩu cũ</label>

                            </div>
                            <!--Nhập mật khẩu mới-->
                            <div class="form-floating mt-3 mb-3">

                                <input type="password" name="newPassword" class="form-control" />
                                <label>Mật khẩu mới</label>

                            </div>
                            @if (ViewBag.Message != "")
                            {
                                <div class="text-danger">@ViewBag.Message</div>
                            }
                            <a class="text-info" href="#">Quên mật khẩu</a>
                            <hr />
                            <div class="d-flex justify-content-center">
                                <button type="submit" name="newPassword" class="site-btn">Đổi mật khẩu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
}


