<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MrKatsu Shop | @ViewBag.Title</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/customer/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/customer/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/customer/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/assets/customer/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/assets/customer/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/customer/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/customer/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/customer/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="~/assets/customer/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="@Url.Action("CartView", "Customer63135414")"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__auth">
                @if (Session["User"] != null)
                {
                    var user = (ShopPhanMem_63135414.Models.Catalog.UserSystem.UserViewModel)Session["User"];
                    using (Html.BeginForm("UserProfile", "Customer63135414", FormMethod.Get, new { id = "profileForm" }))
                    {
                        <a href="javascript:document.getElementById('profileForm').submit()"><i class="fa fa-user"></i>Xin chào @user.lastname</a>
                    }
                }
                else
                {
                    using (Html.BeginForm("Login", "Customer63135414", FormMethod.Get, new { id = "goLogin" }))
                    {
                        <a href="javascript:document.getElementById('goLogin').submit()"><i class="fa fa-user"></i>Đăng nhập</a>
                    }

                }
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a href="@Url.Action("Home", "Customer63135414")">Trang chủ</a></li>
                <li><a href="@Url.Action("Products", "Customer63135414")">Sản phẩm</a></li>
                <li>
                    <a href="@Url.Action("CartView", "Customer63135414")">Giỏ Hàng</a>
                </li>
                @if (Session["User"] != null)
                {
                    var user = (ShopPhanMem_63135414.Models.Catalog.UserSystem.UserViewModel)Session["User"];
                    if (user.roleId.Equals("R01") || user.roleId.Equals("R02"))
                    {
                        <li><a href="@Url.Action("AdminHome", "Admin63135414")">Trang admin</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Home", "Customer63135414")">Lịch sử mua hàng</a></li>
                    }
                }
                <br />
                <li>
                    @using (Html.BeginForm("Logout", "Customer63135414", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        <a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
                    }
                </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="@Url.Action("Home", "Customer63135414")"><img src="~/assets/customer/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="@Url.Action("Home", "Customer63135414")">Trang chủ</a></li>

                            <li><a href="@Url.Action("Products", "Customer63135414")">Sản phẩm</a></li>
                            <li>
                                <a href="@Url.Action("CartView", "Customer63135414")">Giỏ hàng</a>
                            </li>
                            @if (Session["User"] != null)
                            {
                                var user = (ShopPhanMem_63135414.Models.Catalog.UserSystem.UserViewModel)Session["User"];
                                if (user.roleId.Equals("R01") || user.roleId.Equals("R02"))
                                {
                                    <li><a href="@Url.Action("AdminHome", "Admin63135414")">Trang admin</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Home", "Customer63135414")">Lịch sử mua hàng</a></li>
                                }
                            }

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="@Url.Action("CartView", "Customer63135414")"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__top__right__auth">
                            @if (Session["User"] != null)
                            {
                                var user = (ShopPhanMem_63135414.Models.Catalog.UserSystem.UserViewModel)Session["User"];
                                <div class="d-flex">
                                    @using (Html.BeginForm("UserProfile", "Customer63135414", FormMethod.Get, new { id = "profileForm" }))
                                    {
                                        <a href="javascript:document.getElementById('profileForm').submit()"><i class="fa fa-user"></i>Xin chào <span class="text-info">@user.lastname</span></a>
                                    }
                                    @using (Html.BeginForm("Logout", "Customer63135414", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        <a class="mx-2" href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i></a>
                                    }

                                </div>
                            }
                            else
                            {
                                using (Html.BeginForm("Login", "Customer63135414", FormMethod.Get, new { id = "goLogin" }))
                                {
                                    <a href="javascript:document.getElementById('goLogin').submit()"><i class="fa fa-user"></i>Đăng nhập</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <section>
        <marquee>
            Chào mừng quý khách đến với <span class="fw-semibold text-success">MrKatsu Shop</span>. Chúc quý khác mua sắm vui vẻ!
            <span class="badge badge-danger">Khuyến mãi!</span> Cực chẳng đã với khuyến mãi lớn nhất trong năm của shop với giảm giá lên đến <span class="badge badge-warning">100%</span>. Nhanh tay mua hàng ngay!
        </marquee>
    </section>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="../../assets/customer/img/breadcrumb.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Mr.Katsu Shop</h2>
                        <div class="breadcrumb__option">
                            <span>@ViewBag.Title</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <main>
        @RenderBody()
    </main>
    <section>
        <marquee>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, aspernatur doloremque repellat, nesciunt recusandae labore nihil velit ratione neque a amet ad laudantium optio fugiat officiis voluptatum consequatur debitis voluptas!
        </marquee>
    </section>


    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Bài tập dự án môn Phát triển ứng dụng Web 1 - <i class="fa fa-heart" aria-hidden="true"></i> By <a href="https://colorlib.com" target="_blank">Nguyễn Đức Thắng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/assets/customer/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/customer/js/bootstrap.min.js"></script>
    <script src="~/assets/customer/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/customer/js/jquery-ui.min.js"></script>
    <script src="~/assets/customer/js/jquery.slicknav.js"></script>
    <script src="~/assets/customer/js/mixitup.min.js"></script>
    <script src="~/assets/customer/js/owl.carousel.min.js"></script>
    <script src="~/assets/customer/js/main.js"></script>

    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold text-success" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="row d-flex justify-content-center">
                        <img src="~/assets/admin/images/1139.png" style="width:250px;" />
                        <div class="py-2 text-center">
                            <h5 class="text-info font-weight-bold">Đã thêm sản phẩm vào giỏ hàng!</h5>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("CartView", "Customer63135414", FormMethod.Get, new { id = "goCartView" }))
                    {
                        <a href="javascript:document.getElementById('goCartView').submit()" class="btn btn-success">Xem giỏ hàng</a>
                    }
                    <a class="btn btn-primary" data-dismiss="modal">OK</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger fw-semibold text-uppercase" id="errorModalLabel">Thêm sản phẩm thất bại</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="row d-flex justify-content-center">
                        <img src="~/assets/admin/images/1139.png" style="width:250px;" />
                        <div class="py-2 text-center">
                            <h5 class="text-info font-weight-bold">Đã có sản phẩm này trong giỏ hàng của bạn rồi!</h5>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("CartView", "Customer63135414", FormMethod.Get, new { id = "goCartView" }))
                    {
                        <a href="javascript:document.getElementById('goCartView').submit()" style="background-color: #7FAD39" class="primary-btn cart-btn text-light shadow">Xem giỏ hàng</a>
                    }

                    <a href="#" class="primary-btn cart-btn text-light shadow" data-dismiss="modal" style="background-color: #8F0454">OK</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>