@model ShopPhanMem_63135414.Models.Category

@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("CreateCategory", "Category63135414", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="d-flex justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-twitter">Tạo danh mục sản phẩm</h4>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="text-center">
                        <img src="~/assets/category/defaultctg.png" alt="Background Image" class="rounded-circle rounded-5" id="categoryImage-preview" style="height: 80px; width:80px;" />
                    </div>
                    <div class="input-group mt-3 mb-3">
                        <input class="form-control" type="file" id="categoryImage" name="categoryImage" accept="image/*" onchange="previewImage(this)" />
                        <label class="input-group-text" for="categoryImage">Chọn ảnh minh họa</label>
                    </div>
                    <div class="form-floating mt-3 mb-3">
                        <input type="text" value="@ViewBag.CateId" disabled readonly class="form-control" />
                        @Html.LabelFor(model => model.id, "ID danh mục", htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-floating mt-3 mb-3">

                        @Html.EditorFor(model => model.categoryName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(model => model.categoryName, "Tên danh mục", htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.categoryName, "", new { @class = "text-danger" })

                    </div>

                </div>
                <div class="card-footer">
                    <div class=" d-flex justify-content-center mt-3 mb-3">
                        <input type="submit" value="Hoàn tất" class="btn btn-success btn-rounded col-md-5 mx-auto" />
                        <a href="@Url.Action("ListCategory")" class="btn btn-info text-light btn-rounded col-md-5 mx-auto">
                            Quay lại danh sách
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

