@model ShopPhanMem_63135414.Models.Catalog.ProductSystem.ProductAndImageViewModel
@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("CreateProductAndImage", "Product63135414", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-floating m-2">
                                    <input type="text" value="@ViewBag.ProductID" disabled readonly class="form-control" />
                                    @Html.ValidationMessageFor(model => model.Product.id, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.Product.id, "ID Sản phẩm", htmlAttributes: new { @class = "control-label" })

                                </div>

                                <div class="form-floating m-2">
                                    @Html.EditorFor(model => model.Product.productName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Product.productName, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.Product.productName, "Tên sản phẩm", htmlAttributes: new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating m-2">
                                    @Html.EditorFor(model => model.Product.productUrl, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Product.productUrl, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.Product.productUrl, "Link sản phẩm", htmlAttributes: new { @class = "control-label" })
                                </div>

                                <div class="form-floating m-2">
                                    @Html.EditorFor(model => model.Product.priceOriginal, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.Product.priceOriginal, "Giá gốc", htmlAttributes: new { @class = "control-label" })

                                    @Html.ValidationMessageFor(model => model.Product.priceOriginal, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating m-2">
                                    @Html.EditorFor(model => model.Product.price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Product.price, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.Product.price, "Giá bán", htmlAttributes: new { @class = "control-label" })

                                </div>
                                <div class="form-floating m-2">
                                    @Html.DropDownListFor(model => model.SelectedCategoryId, Model.Categories, "--Chọn danh mục--", new { @class = "form-control " })
                                    <label>Chọn danh mục sản phẩm</label>
                                    @Html.ValidationMessageFor(model => model.SelectedCategoryId, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-floating mx-auto py-2">
                                @Html.EditorFor(model => model.Product.description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Product.description, "", new { @class = "text-danger" })
                                @Html.LabelFor(model => model.Product.description, "Mô tả", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="input-group py-2">
                                <input class="form-control" id="imageUpload" type="file" name="imageUpload" accept="image/*" onchange="previewImage(this)" />
                                <label class="input-group-text" for="imageUpload">Ảnh minh họa</label>
                            </div>

                            <div class="d-flex justify-content-center py-2 mx-auto">
                                <img src="~/assets/product/defaultImage.png" alt="Circular Image" class="rounded-5" id="imageUpload-preview" style="height:250px; border: 5px solid #fff;" />
                            </div>
                            <div class="input-group mx-auto py-2">
                                <input class="form-control" type="file" name="files" id="fileUpload" multiple />
                                <label class="input-group-text" for="fileUpload">Thêm ảnh minh họa</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">

                <div class=" d-flex justify-content-center">
                    <input type="submit" value="Create" class="btn btn-facebook" />
                </div>
            </div>
        </div>


    </div>
}

