@model IEnumerable<ShopPhanMem_63135414.Models.Product>

@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var grid = new WebGrid(canPage: true, rowsPerPage: ViewBag.PageSize);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<div class="card">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">
            DANH SÁCH QUẢN LÝ SẢN PHẨM
        </h4>
        <br />

        <a href="@Url.Action("CreateProductAndImage")" class="btn btn-success d-block mx-auto" style="width: 50%">
            Thêm sản phẩm
        </a>
    </div>
    <div class="py-2">
        @using (Html.BeginForm("ListProduct", "Product63135414", FormMethod.Get))
        {
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-md-4">
                    <div class="form-floating  mt-3 mb-3">
                        <input type="text" name="search" value="@ViewBag.search" class="form-control" />
                        <label>Nhập dữ liệu</label>
                    </div>
                </div>

                <button type="submit" value="Search" class="btn btn-primary m-2">Tìm kiếm</button>

            </div>
        }
    </div>
    <div class="card-body text-center">
        <div class="table-responsive">
            @grid.Table(
     tableStyle: "table table-bordered table-hover",
     headerStyle: "grid-header text-center",
     footerStyle: "pagination pagination-small",
     columns: new[] {
            grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex, canSort: false),

          grid.Column(format:@<text> <a href="@Url.Action("DetailsUser", "Admin63135414", new {id = item.userId})"><img class="img-fluid" src="~/assets/avatar/@item.User.userAvatar" style="width:30px;height:30px;" /></a> </text>, header: "Người đăng"),
grid.Column(columnName: "id", header: "Mã sản phẩm"),
grid.Column(columnName: "productName", header: "Tên sản phẩm"),
grid.Column(columnName: "priceOriginal", header: "Giá gốc"),
grid.Column(columnName: "price", header: "Giá đang bán"),
grid.Column(columnName: "viewCount", header: "Lượt xem"),
grid.Column(columnName: "sellCount", header: "Lượt bán"),
grid.Column(format: @<text>@item.dateUpload.ToString("dd/MM/yyyy")</text>, header: "Ngày đăng"),

grid.Column(format: @<text>@item.dateUpdate.ToString("dd/MM/yyyy")</text>, header: "Ngày sửa đổi"),
grid.Column(format:@<text>
    <div class="text-center">
        <a href="@Url.Action("EditCategory", new {id = item.id})" class="btn btn-sm btn-warning" title="Cập nhật dữ liệu">
            <i class="fas fa-user-edit"></i>
        </a>
        <a href="@Url.Action("EditCategory", new {id = item.id})" class="btn btn-sm btn-warning" title="Cập nhật dữ liệu">
            <i class="fas fa-user-edit"></i>
        </a>
    </div>
</text>, header: "Chức năng")
})
        </div>
    </div>

</div>
