@model IEnumerable<ShopPhanMem_63135414.Models.Promotion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.applyAll)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.promotionPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.applyAll)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.promotionPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
