@model IEnumerable<QuanLyPhanMem__63135414.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priceOriginal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateUpload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.viewCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sellCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.userId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priceOriginal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateUpload)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateUpdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.viewCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sellCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.firstname) @Html.DisplayFor(modelItem => item.User.lastname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
